In [1]:
def college():
    print("DYPIEMR")
    
college()

DYPIEMR

In [4]:
def college(name,city):
    print(name,city)
    
college('DYPIEMR','Pune')

DYPIEMR Pune

In [5]:
def college(name,city):
    str="This is {} situated in {}".format(name,city)
    return str

details=college('DYPIEMR','Pune')
print(details)

This is DYPIEMR situated in Pune

In [9]:
def add_and_subtract(num1,num2):
    add=num1+num2
    sub=num1-num2
    return add,sub

add,sub=add_and_subtract(89,54)

print("This is add:",add)
print("This is diff:",sub)

This is add: 143
This is diff: 35

In [10]:
def add_and_subtract(num1,num2):
    add=num1+num2
    sub=num1-num2
    return add,sub

operation=add_and_subtract
num1,num2=operation(89,54)

print(num1,num2)

143 35