In [1]:
#importing numpy

import numpy as np

In [4]:
#Creating a list using Python

numbers=list(range(1,11))
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
#Creating a list using Python

numbers=list(range(1,11))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [17]:
#transform list into numpy array

num=np.array(numbers)
num

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [18]:
type(num)

numpy.ndarray

In [19]:
#same as lists, ndarray stores multiple elements (is iterable)

for i in num:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [21]:
#A list can store different data types

I=[7,3.5,"Rutik",True]

for i in I:
    print(type(i))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [22]:
#ndarrays transforms all to the string datatypes automatically

a=np.array(I)
a

array(['7', '3.5', 'Rutik', 'True'], dtype='<U32')

In [25]:
for i in a:
    print(type(i))

<class 'numpy.str_'>
<class 'numpy.str_'>
<class 'numpy.str_'>
<class 'numpy.str_'>