In [1]:
import numpy as np

In [7]:
a=np.arange(1,13)
a

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

In [8]:
type(a)

numpy.ndarray

In [9]:
a.dtype

dtype('int32')

In [5]:
z=np.arange(1,13)
z

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

In [6]:
z.dtype

dtype('int32')

In [10]:
a.shape                #1-D array, 12 elements in 1-D (vector)

(12,)

In [12]:
a=a.reshape(2,6)       #reshaping a: 2rows / 6columns
a

array([[ 1,  2,  3,  4,  5,  6],
       [ 7,  8,  9, 10, 11, 12]])

In [15]:
a.shape

(2, 6)

In [14]:
b=np.arange(1,101).reshape(25,4)    #creating 2-D ndarray with one line of code
b

array([[  1,   2,   3,   4],
       [  5,   6,   7,   8],
       [  9,  10,  11,  12],
       [ 13,  14,  15,  16],
       [ 17,  18,  19,  20],
       [ 21,  22,  23,  24],
       [ 25,  26,  27,  28],
       [ 29,  30,  31,  32],
       [ 33,  34,  35,  36],
       [ 37,  38,  39,  40],
       [ 41,  42,  43,  44],
       [ 45,  46,  47,  48],
       [ 49,  50,  51,  52],
       [ 53,  54,  55,  56],
       [ 57,  58,  59,  60],
       [ 61,  62,  63,  64],
       [ 65,  66,  67,  68],
       [ 69,  70,  71,  72],
       [ 73,  74,  75,  76],
       [ 77,  78,  79,  80],
       [ 81,  82,  83,  84],
       [ 85,  86,  87,  88],
       [ 89,  90,  91,  92],
       [ 93,  94,  95,  96],
       [ 97,  98,  99, 100]])

In [20]:
a+100            #element-wise operation will work

array([[101, 102, 103, 104, 105, 106],
       [107, 108, 109, 110, 111, 112]])

In [21]:
a[1][1]         #2nd row, 2nd column

8

In [22]:
a[1,1]          #more convenient with square brackets

8

In [23]:
b.T             #Transpose

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100])

In [25]:
b.transpose()        #alternative method for transpose

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100])

In [30]:
a.sum(axis=0)          #sum of each column

array([ 8, 10, 12, 14, 16, 18])

In [29]:
a.sum(axis=1)          #sum of each row

array([21, 57])

In [31]:
a.cumsum()             #cumulative sum of all elements

array([ 1,  3,  6, 10, 15, 21, 28, 36, 45, 55, 66, 78], dtype=int32)

In [32]:
a.cumsum(axis=0)

array([[ 1,  2,  3,  4,  5,  6],
       [ 8, 10, 12, 14, 16, 18]], dtype=int32)

In [33]:
a.cumsum(axis=1)

array([[ 1,  3,  6, 10, 15, 21],
       [ 7, 15, 24, 34, 45, 57]], dtype=int32)

In [34]:
a

array([[ 1,  2,  3,  4,  5,  6],
       [ 7,  8,  9, 10, 11, 12]])

In [36]:
a.prod()

479001600

In [37]:
a.prod(axis=0)

array([ 7, 16, 27, 40, 55, 72])

In [38]:
a.prod(axis=1)

array([   720, 665280])