In [4]:
#Creating an empty DataFrame

import pandas as pd

df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [5]:
#Creating DataFrame from lists

data=[1,2,3,4,5]
df=pd.DataFrame(data)
print(df)

   0
0  1
1  2
2  3
3  4
4  5

In [6]:
#Assigning names to columns

data=[['Alex',10],['Bob',12],['Clarke',13]]
df=pd.DataFrame(data,columns=['Name','Age'])
print(df)

     Name  Age
0    Alex   10
1     Bob   12
2  Clarke   13

In [7]:
data=[['Alex',10],['Bob',12],['Clarke',13]]
df=pd.DataFrame(data,columns=['Name','Age'],dtype=float)
print(df)

     Name   Age
0    Alex  10.0
1     Bob  12.0
2  Clarke  13.0

In [13]:
#Creating a DataFrame from Dict of ndarrays / Lists

data={'Name':['Rutik','Tom','Om'],'Age':[21,34,12]}
df=pd.DataFrame(data)
print(df)

    Name  Age
0  Rutik   21
1    Tom   34
2     Om   12

In [14]:
data={'Name':['Rutik','Tom','Om'],'Age':[21,34,12]}
df=pd.DataFrame(data,index=['rank1','rank2','rank3'])
print(df)

        Name  Age
rank1  Rutik   21
rank2    Tom   34
rank3     Om   12

In [16]:
#Creating a DataFrame from Dict of Series

data={'one':pd.Series([1,2,3],index=['a','b','c'],dtype=float),'two':pd.Series([1,2,3,4],index=['a','b','c','d'],dtype=int)}
df=pd.DataFrame(data)
print(df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4